<div class="container">
  <div class="center-page">
    <h2>The witty companion bot will be up and live soon.</h2>
    <h3>Stay tuned!</h3>
    <img src="https://source.unsplash.com/category/technology">
    <h6>
      Imaged powered by <a href="https://unsplash.com">Unsplash</a>
    </h6>
  </div>
</div>
