.title {
  text-align: center;
  font-style: italic;
}

.misc {
  background-color: salmon;
  height: 90vh;
  padding: 0;
  margin: 0;
}

.news-feed {
  background-color: deeppink;
  height: 90vh;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.news-details-quote {
  background-color: gainsboro;
  height: 90vh;
  padding: 0;
  margin: 0;
}

.news-content {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.news-headline {
  font-weight: bold;
}

.news-abstract {
  font-style: italic;
}

.news-nav {
  background-color: salmon;
}

.greetings {
  background-color: ghostwhite;
}

.greetings, .news-nav {
  height: 10%;
  width: 100%;
  overflow: auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.weather {
  background-color: turquoise;
  height: 30%;
  width: 100%;
}

.current-weather {
  height: 100%;
  width: 100%;
}

.weather-details-top, .weather-details-bottom {
  height: 50%;
  overflow: auto;
  position: relative;
}

.weather-details-top, .weather-details-bottom {
  height: 50%;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
}

.weather-info, .weather-summary, .weather-high-low {
  height: 100%;
  overflow: auto;
  float: left;
}

.weather-icon, .weather-refresh {
  height: 100%;
  text-align: center;
  float: left;
}

.weather-temp {
  padding-top: 15%;
  font-size: 22px;
}

.weather-refresh img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.weather-summary {
  box-sizing: border-box;
  padding: 5% 5px 0 5px;
  text-align: center;
}

.weather-high-low {
  text-align: center;
  box-sizing: border-box;
  padding: 5% 5px 0 5px;
}

.weather-info {
  text-align: center;
  box-sizing: border-box;
  padding: 5% 5px 0 5px;
  font-size: 16px;
}

.custom-img {
  height: 100%;
  width: 100%;
}

.music {
  background-color: rebeccapurple;
  height: 60%;
  width: 100%;
  overflow: auto;
}

.quotes {
  padding: 10px;
  font-style: italic;
  margin-top: 40%;
}

.spotify-message {
  height: 20%;
  text-align: center;
  width: 100%;
}

.playlists {
  padding: 3px;
  width: 100%;
  height: 80%;
}

.playlist-album {
  float: left;
  display: inline-block;
  width: 31%;
  height: 40%;
  margin: 1px;
}

.album {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
